.wp-block-pullquote.is-style-solid-color  {
	background-color: $color__wporg-blue;

	blockquote {
		max-width: 100%;
		border: none;
		color: $color__text-on-dark;
	}

	@include breakpoint( $breakpoint-tablet ) {
		background-color: $color__text-on-dark;

		blockquote {
			border-left: none;
			color: $color__text-heading;
		}
	}
}