*.css.map
*.js.map

mu-plugins/vendor
mu-plugins/0-sandbox.php
node_modules

plugins/*
!plugins/wporg-5ftf

themes/wporg-5ftf/css/style.css
themes/wporg-5ftf/css/style-editor.css
themes/pub

/uploads
/db.php
