<phpunit
	bootstrap="plugins/wporg-5ftf/tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
	</php>
	<testsuites>
		<testsuite name="Five for the Future Plugin">
			<directory prefix="test-" suffix=".php">
				./plugins/wporg-5ftf/tests/
			</directory>
		</testsuite>
	</testsuites>
</phpunit>
