body.page-about .entry-content {

	@include breakpoint( $breakpoint-tablet ) {
		> p,
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> .wp-block-quote,
		> .wp-block-media-text,
		> .wp-block-button {
			margin-left: 40%;
		}

		p.is-style-wporg-tldr {
			margin-left: auto;
		}

		.wp-block-pullquote.is-style-solid-color  {
			position: absolute;
			top: 800px;
			left: 0;
			width: 40%;
		}
	}
}
