.entry-content {
	position: relative;
	color: $color__text-main;
	hyphens: none;

	h1, h2, h3, h4, h5, h6 {
		color: $color__text-heading-darker;
	}
	
	h2 {
		margin-top: ms(10);
		font-size: ms( 2 );
		font-weight: 400;
		color: $color__text-heading;
	}
	
	> :first-child {
		margin-top: 0;
	}
}
