.entry-content {
	position: relative;
	color: $color__text-main;
	hyphens: none;

	h1, h2, h3, h4, h5, h6 {
		color: $color__text-heading-darker;
	}
}

p.has-background,
.wp-block-group.has-background,
.wp-block-pullquote.has-wporg-blue-background-color {
	/*
	 * Remove the gaps between consecutive paragraphs that have the same background color, and make it fill 100%
	 * of the screen on the mobile view.
	 */
	//margin: 0 - ms( 4 );	this is buggy, affects surrounding elements, see notes in parallelogram file
}
