body.archive.post-type-archive-5ftf_pledge {

	// Expand archive content area to full-width of header.
	.site-content .site-main {
		padding: 0 10px;
		max-width: $size__site-main;
	}

	.page-header {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		margin: ms(12) 0;

		.page-title {
			grid-column: 1;
			grid-row: 1;
			margin: 0;
		}

		.page-header-callout {
			grid-column: 2;
			grid-row: 1;
			
			.button {
				padding: 0.5em 1.5em;
				height: auto;
			}
		}

		.page-header-controls {
			grid-column: 1 / span 2;
			grid-row: 2;

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: ms(2);
			border-top: 1px solid $color-gray-light-500;
			padding-top: ms(2);
		}
	}

	.page-header-controls {
		font-size: ms(-2);

		label {
			display: inline-block;
			margin-right: 6px;
			font-size: 1em;
			font-weight: 700;
		}
	}
	
	/* Structure */
	article {
		margin-bottom: ms(12);

		.entry-image {
			margin-bottom: ms(4);
		}

		@include breakpoint( $breakpoint-small ) {
			display: grid;
			grid-template-columns: 200px auto;

			.entry-image {
				grid-column: 1;
				grid-row: 1 / span 2;
				margin-bottom: 0;
				margin-right: ms(8);
			}

			.entry-header {
				grid-column: 2;
				grid-row: 1;
			}

			.entry-content {
				grid-column: 2;
				grid-row: 2;
			}
		}
		
		@include breakpoint( $breakpoint-tablet ) {
			grid-template-columns: 330px auto;
		}
	}

	.entry-title {
		font-size: ms(2);
		font-weight: 400;
	}
}
