body.archive.post-type-archive-5ftf_pledge,
body.search.search-results {

	// Expand archive content area to full-width of header.
	.site-content .site-main {
		max-width: $size__site-main;
	}

	.page-header {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		margin: ms(12) 0;

		.page-title {
			grid-column: 1;
			grid-row: 1;
			margin: 0;
		}

		.page-header-callout {
			grid-column: 2;
			grid-row: 1;

			.button {
				padding: 0.5em 1.5em;
				height: auto;
			}
		}

		.page-header-controls {
			grid-column: 1 / span 2;
			grid-row: 2;

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: ms(2);
			border-top: 1px solid $color-gray-light-500;
			padding-top: ms(2);
			font-size: ms(-2);

			label {
				display: inline-block;
				margin-right: 6px;
				font-size: 1em;
				font-weight: 700;
			}
		}
	}

	/* Structure */
	article {
		margin-bottom: ms(12);

		.entry-image {
			margin-bottom: ms(4);
		}

		@include breakpoint( $breakpoint-small ) {
			display: grid;
			grid-template-columns: 200px auto;

			.entry-image {
				grid-column: 1;
				grid-row: 1 / span 2;
				margin-bottom: 0;
				margin-right: ms(8);
			}

			.entry-header {
				grid-column: 2;
				grid-row: 1;
			}

			.entry-content {
				grid-column: 2;
				grid-row: 2;
			}
		}

		@include breakpoint( $breakpoint-tablet ) {
			grid-template-columns: 330px auto;
		}
	}

	.entry-title {
		font-size: ms(2);
		font-weight: 400;
	}

	.pledge-contributors {
		li {
			width: 40px;
			height: 40px;
			margin: 0 5px 5px 0;
		}

		.pledge-contributor__avatar {
			border-radius: calc( #{$avatar__border-radius} / 3.75 );

			img {
				border-radius: calc( #{$avatar__border-radius} / 3.75 );
			}
		}
	}
}
