body.single.single-5ftf_pledge {

	// Expand archive content area to full-width of header.
	.site-content .site-main {
		padding: 0 10px;
		max-width: $size__site-main;
	}

	.entry-header {
		margin: ms(12) 0;
		padding-bottom: ms(4);
		border-bottom: 1px solid $color-gray-light-500;

		@include breakpoint( $breakpoint-mobile ) {
			display: flex;
			align-items: center;

			> div {
				flex: auto;
			}

			.entry-image {
				max-width: 330px;
			}
		}

		@include breakpoint( 0, $breakpoint-mobile ) {
			text-align: center;

			.entry-image {
				margin-top: ms(2);
			}
		}

		.pledge-status {
			display: inline-block;
			padding: 4px 12px;
			font-size: ms(-1);
			text-transform: uppercase;
			background-color: $color-error-red;
			color: white;
		}
	}

	.entry-title {
		margin-bottom: 0;
	}

	.entry-image__logo {
		background: transparent;
	}

	.pledge-company-description {
		max-width: $size__content-width;
	}

	.team-grid {
		margin-top: ms(2);
	}

	.entry-footer {
		margin-top: ms(2);
		margin-bottom: ms(20);
		border-top: 1px solid $color-gray-light-500;
		padding-top: ms(2);

		.report-wrapper {
			margin-bottom: 1em;

			a {
				color: $color-alert-red;
			}
		}

		.edit-pledge-wrapper {
			text-align: right;

			p {
				font-size: ms(-2);
			}

			.button {
				padding-right: 4px;
				text-decoration: none;
				color: $color__wp-blue;
				font-size: 1rem;

				&:hover {
					border-bottom: 1px solid currentColor;
				}
			}
		}

		@include breakpoint( $breakpoint-tablet ) {
			display: flex;

			.report-wrapper {
				flex: 1 0 auto;
			}
		}
	}
}
