.site-header {
	.site-title,
	.site-description {
		text-align: left;
	}

	 &.home {
		background: #0073aa;

		@include breakpoint( $ms-breakpoint ) {
			padding: ms( 10 ) ms( 4 );
		}

		.site-title {
			color: #fff;
			display: block;
			font-size: 1.4rem;
			font-weight: 300;
			line-height: 1;
			margin: 2rem 0 .6rem;

			@include breakpoint( $ms-breakpoint ) {
				font-size: ms( 12 );
			}

			@include breakpoint( $breakpoint-tablet ) {
				font-size: 3.75rem;
				text-align: center;
			}
		}

		.site-description {
			color: #fff;
			max-width: 100%;
			padding: 11px 0;
			font-size: 1rem;

			@include breakpoint( $breakpoint-tablet ) {
				font-size: 1.25rem;
				text-align: center;
			}
		}
	}
}
