.site-content {

	body:not(.home) & {
		margin: auto;
		max-width: none;
		padding: 0;

		.site-main {
			margin: 0 auto;
			padding: 0 ms( 2 );
			max-width: calc( #{ $size__content-width } + #{ ms( 2 ) * 2 } );
		}
	}
}