watch:
  directories:
    # By default only the `tests/` folder is watched, but the empty value below represents the current directory,
    # so that tests will also re-run when the files-under-test are changed.
    -
  fileMask: '*.php'

notifications:
  passingTests: false
  failingTests: false

phpunit:
  binaryPath: vendor/bin/phpunit
