.edit-pledge-wrapper .wp-block-button__link[aria-expanded="true"] {
	background-color: var(--wp--preset--color--charcoal-1) !important;
	color: var(--wp--preset--color--white) !important;
}

.edit-pledge-wrapper .wp-block-button__link .dashicons {
	display: none;
}

.pledge-dialog {
	position: absolute;
	z-index: 252;
	width: 25rem;
	margin-top: var(--wp--preset--spacing--10);
	padding: var(--wp--preset--spacing--20);
	background: #fff;
	border: 1px solid var(--wp--preset--color--light-grey-1);

	&[hidden] {
		display: none;
	}

	.pledge-dialog__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: var(--wp--preset--spacing--10);
		text-decoration: none;
		background: none;
		border: none;
	}

	/* Update layout to floating modal on smaller screens. */
	@media (max-width: 889px) {
		position: fixed;
		top: 80px !important;
		right: var(--wp--preset--spacing--30) !important;
		left: var(--wp--preset--spacing--30) !important;
		width: calc(100% - var(--wp--preset--spacing--30) * 2);
		z-index: 251; /* header + 1. */
	}

	@media (max-width: 600px) {
		top: var(--wp--preset--spacing--30) !important;
	}
}

.pledge-dialog__background {
	position: fixed;
	z-index: 251; /* header + 1. */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	&[hidden] {
		display: none;
	}

	/* Update layout to floating modal on smaller screens. */
	@media (max-width: 889px) {
		background-color: rgba(0, 0, 0, 0.15);
	}
}
